@font-face {
  font-family: "Bebas Neue Regular Regular";
  src: local("./fonts/Bebas Neue Regular Regular"),
    local("./fonts/BebasNeueRegular"),
    url("./fonts/BebasNeueRegular.woff2") format("woff2"),
    url("./fonts/BebasNeueRegular.woff") format("woff");
  font-display: swap;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

.header {
  padding-top: 12px; /* внутренний отступ сверху до текста */
  padding-bottom: 12px; /* внутренний отступ снизу до текста */
  background-color: #635854;
  border-bottom: 4px solid #3596f5; /* нижняя граница */
}
.container {
  max-width: 1280px;
  margin: auto; /* блок по центру */
}
.navbar {
  display: flex; /*транспонировали текст в блоке по горизонтали*/
  justify-content: space-between; /* растянули элементы по краям */
  align-items: center; /* вертикально центрировали текст */
}

.menu-button {
  display: none;
}

.navbar-pannel {
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
}

.navbar-menu {
  list-style: none; /* отключаем точки списка*/
  display: flex; /*текст по горизонтали*/
  text-align: center; /*выравнивание текств по центру*/
  margin-left: auto;
  margin-right: auto;
}
.navbar-item {
  margin-left: 40px;
  margin-right: 40px;
}
.navbar-link {
  text-decoration: none;
  color: #fff;
}
.navbar-contacts {
  margin: auto;
  text-align: center;
}
.navbar-text {
  display: block;
  margin-bottom: 4px;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}
.navbar-phone {
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: 700px;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
}

.main {
  display: flex;
  padding-top: 54px;
}
.main-image {
  max-width: 734px;
}

.home-image path {
  opacity: 0; /*элемент стал прозрачным*/
  cursor: pointer; /*вид курсора при наведении*/
}

.home-image path:hover {
  /*класс меняется при наведении*/
  opacity: 1; /*элемент стал прозрачным*/
}

.main-info {
  flex-grow: 1; /*класс занимает свободное пространство*/
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

path.current-floor {
  opacity: 1;
}

.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.counter-arrow-down {
  transform: rotateX(180deg);
  cursor: pointer;
}

.main-title {
  font-family: "Bebas Neue Regular Regular", sans-serif;
  font-weight: normal;
  font-size: 37px;
  line-height: 44px;
  color: #635854;
  margin: 0;
}

.floor-counter {
  font-family: "Bebas Neue Regular Regular", sans-serif;
  font-weight: bold;
  color: #635854;
  font-size: 124px;
  margin-top: 10px;
}

.button-primary {
  background: #3596f5;
  border-radius: 6px;
  color: #fff;
  border: none;
  padding: 16px 36px;
  cursor: pointer;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #635854;
  border-top: 4px solid #3596f5;
  background-color: #d7d7d7;
  margin-top: 99px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-part {
  align-items: center;
  display: flex;
}

.navi-text {
  text-align: left;
  display: block;
  color: #635854;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.navi-phone {
  text-decoration: none;
  color: #635854;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}

.navi-menu {
  margin: 0; /* отключаем внешние отступы*/
  padding: 0; /* отключаем внутренние отступы*/
  list-style: none; /* отключаем точки списка*/
  display: flex; /*текст по горизонтали*/
  text-align: center;
}

.navi-item {
  margin-left: 20px;
}

.navi-link {
  color: #635854;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
}

.social {
  margin-right: 275px;
  align-content: left;
}

.social-img {
  text-decoration: none;
  margin-right: 15px;
}

.navi-contacts {
  margin-right: 59px;
  margin-left: 37px;
}

.footer-img {
  align-items: left;
}

.modal {
  position: fixed; /* фиксированная позиция поверх всего сайта*/
  left: 0; /* позиция левый край*/
  top: 0; /* позиция верхний край*/
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* всплывающее окно прозрачное*/
  transform: scale(0); /* всплывающее окно не имеет размера */
  transition: opacity 0.2s;
}

.is-open {
  opacity: 1;
  transform: scale(1);
}

.modal-dialog {
  position: relative;
  max-width: 1000px;
  min-height: 565px;
  background-color: #fff;
  flex-grow: 1;
  display: flex;
  transform: translateY(-10%);
  transition: transform 0.2s, opacity 0.2s;
  transition-delay: 0.2s;
  opacity: 0;
}

.is-open > .modal-dialog {
  opacity: 1;
  transform: translateY(0);
}

.modal-image {
  background-color: #ebebeb;
  width: 60%;
  text-align: center;
  padding: 50px;
}

.modal-title {
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  font-family: "Bebas Neue Regular Regular", sans-serif;
  margin-top: 0;
  margin-bottom: 25px;
}

.modal-info {
  width: 40%;
  padding: 50px 46px;
  text-align: center;
}

.flat-list {
  padding: 0;
  list-style: none;
  margin-top: 55px;
}

.flat-item {
  margin: 10px;
}

.flat-link {
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  text-decoration: none;
}

.flat-link:hover {
  text-decoration-line: underline;
  color: #3596f5;
}

.modal-alert {
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  margin-top: 56px;
}

.modal-close-button {
  position: absolute;
  right: 27px;
  top: 38px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.flats {
  max-width: 433px;
  width: 100%;
}

.flats path {
  opacity: 0;
}

.flats path:hover {
  opacity: 1;
  cursor: pointer;
}

.is-hover {
  text-decoration-line: underline;
  color: #3596f5;
}

@media (max-width: 1400px) {
  .container {
    width: 90%;
    max-width: 1200px;
  }
  .social {
    margin-right: 100px;
    align-content: left;
  }
  .main-info {
    margin-left: 40px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
    max-width: 960px;
  }
  .navbar-item {
    margin-left: 20px;
    margin-right: 20px;
  }
  .social {
    margin: auto;
    align-content: left;
  }
  .navi-contacts {
    margin: auto;
  }

  .navi-item {
    margin: 2px;
  }
  .main-info {
    margin-left: 40px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 760px;
  }

  .navbar-nav {
    display: block;
  }

  .navbar-pannel {
    display: none;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 60px;
    right: 40px;
    background-color: #635854;
  }
  .navbar-menu {
    margin: 0px;
    display: block;
    padding: 0px;
  }

  .navbar-item {
    margin-bottom: 20px;
    text-align: center;
  }

  .navbar-text {
    text-align: center;
  }
  .navbar-contacts {
    text-align: center;
    display: block;
  }

  .menu-button {
    background-color: transparent;
    width: 40px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    cursor: pointer;
  }
  .menu-button > .line {
    height: 3px;
    background-color: white;
    display: block;
  }
  .navigation {
    display: block;
  }

  .navi-nav {
    margin-top: 30px;
  }

  .navi-item {
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .main {
    display: block;
  }
  .main-info {
    padding: 50px;
  }
  .counter-group {
    padding: 40px;
  }
  .modal-dialog {
    flex-direction: column;
  }

  .modal-close-button {
    right: 40px;
    top: 50px;
  }

  .modal-image {
    width: 100%;
    height: 100%;
  }
  .modal-info {
    width: 100%;
  }
  .flats {
    max-width: 250px;
    width: 100%;
    text-align: center;
  }
  .modal-image > .modal-title {
    margin: auto;
    padding-top: 10px;
  }
  .modal-close-button {
    padding-top: 25px;
  }
  .navbar-pannel {
    right: 20px;
  }
}

@media (max-width: 500px) {
  .modal-dialog {
    margin-top: 350px;
  }

  .modal-close-button {
    right: 40px;
    top: 50px;
  }
}
